.footer-app {
  text-align: center;
  margin-top: 20px;
}

.pdp-tyc {
  background-color: black;
  padding: 15px 0;
}

.txt-links {
  color: white;
  cursor: pointer;
  display: block;
  margin: 10px 0;
}

.copy {
  display: block;
  margin-top: 10px;
}

.img-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.liston-img {
  margin-top: 10px;
  width: 60px;
}
